#api-data div {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#api-data h3 {
    margin: 0 0 10px 0;
}

#api-data p {
    margin: 0;
}



/* STYLING FOR SEARCHING AREA */
.searchForm {
  display: flex; 
}

.searchForm input[type="search"] {
  flex-grow: 1; 
  margin-right: 8px; 
}






/* STYLING SEARCH FIELD */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}



/* CLEAR FLOATS */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*CARDS WITH CHECKBOXES*/


 .search-card {
        width: 40rem; 
        margin: auto; 
        padding:0.3rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }

    .card-body {
        padding: 2px 16px;
    }

    .example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    .example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
    }

    .example button:hover {
        background: #0b7dda;
    }






/*HOMEPAGE NAVBAR*/

.container-fluid {
  color:#0b7dda; 
}


/*BACKGROUND COLOR BODY*/
body {
background-color: #ced4da;
}


/* TO STYLE THE TABLE */
.table {
width: 80%;
margin: 25px auto;
border-collapse: collapse;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}

.table th,
.table td {
padding: 12px 15px;
}

.table tbody tr {
border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
font-weight: bold;
color: #009879;
}

/* MAKE TABLE RESPONSIVE */
@media screen and (max-width: 768px) {
.table thead {
display: none;
}

.table, .table tbody, .table tr, .table td {
display: block;
width: 100%;
}

.table tr {
margin-bottom: 15px;
}

.table td {
text-align: right;
padding-left: 50%;
text-align: right;
position: relative;
}

.table td::before {
content: attr(data-label);
position: absolute;
left: 0;
width: 50%;
padding-left: 15px;
font-weight: bold;
text-align: left;
}
}



/* CHANGE ARRANGEMENT FOR BOOKS CONTAINER */
.fitzek-books-container, .bestseller-books-container {
  margin-bottom: 20px;
}

div.gallery {
  margin: 5px;
  width: auto;
  align-items: left;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 10px;
  width: 180px;
}

/* WIDTH BOOK GALLERY*/
div.gallery img {
  max-width: 100%;
  height: auto;
}

.books-row {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}


