/*SHOW MORE OR LESS BUTTON*/

#more {display: none;}


/*HEADING HOMEPAGE*/
.heading-bestsellers {
  position: relative;
  left:173px;
  top: 25px
}


/* BASE STYLE FOR HEADING HOMEPAGE */
.heading-bestsellers {
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 30px; 
    left:0.5px;
}

/* RESPONSIVE ADJUSTEMENTS FOR HEADING*/
/*PHONES*/
@media (max-width: 575px) { 
    .heading-bestsellers {
        font-size: 20px; 
    }
}
/*TABLETS*/
@media (min-width: 576px) and (max-width: 767px) { 
    .heading-bestsellers {
        font-size: 22px; 
    }
}
/*TABLETS*/
@media (min-width: 768px) and (max-width: 991px) { 
    .heading-bestsellers {
        font-size: 24px; 
    }
}
/*PC*/
@media (min-width: 992px) { 
    .heading-bestsellers {
        font-size: 26px; 
    }
}







/*HEADINGS API PAGE*/
#heading-fitzek {
   position: relative;
  left:7px;
  top: 10px
}

#heading-bestseller {
   position: relative;
  left:7px;
  top: 10px
}




/*HOMEPAGE CARDS*/
.card {
    margin-bottom: 20px;
    /*ROUNDED EDGES*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
   /*ROUNDED EDGES*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; 
    /*TAKES WHOLE SPACE*/
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-text {
    margin: 0;
    font-size: 14px;
}

/* RESPONSIVE CARDS HOMEPAGE */
/*MAX SCREEN SIZE*/
@media (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }
    .card-img-top {
        height: auto;
    }
}




/*CARDS WITH CHECKBOXES*/
 .search-card {
        width: 40rem; 
        /*HORIZONTAL AND CENTERED*/
        margin: auto; 
        margin-bottom: 1em;
        padding:0.3rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .card-body {
        padding: 1em;
    }




/* NAVBAR */
#navbar {
  top: 0;
  /*(überlappen?)*/
  z-index: 1020; 
  background-color: #986253c3; 
  color: white; 
}

.navbar-brand, .navbar-nav .nav-link {
  color: white; 
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
  color: #ccc; 
}

.active {
color:rgb(92, 51, 51) !important;
}



/*BACKGROUND COLOR BODY*/
body {
background-color: #ced4da;
}

header {
  background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?w=1920&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGJvb2slMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-size: cover;
}



/* TO STYLE THE TABLE */
.table {
width: 80%;
margin: 25px auto;
/*REMOVES EXTRA SPACE BETWEEN CELLS*/
border-collapse: collapse;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}

.table th,
.table td {
padding: 12px 15px;
}

.table tbody tr {
border-bottom: 1px solid #dddddd;
}


.table tbody tr.active-row {
font-weight: bold;
color: #009879;
}

/* MAKE TABLE RESPONSIVE */
/*HIDING HEAD ON BIGGER SCREENS*/
@media screen and (max-width: 768px) {
.table thead {
display: none;
}

.table, .table tbody, .table tr, .table td {
display: block;
width: 100%;
}

.table tr {
margin-bottom: 15px;
}

.table td {
text-align: right;
padding-left: 50%;
text-align: right;
position: relative;
}

.table td::before {
content: attr(data-label);
position: absolute;
left: 0;
width: 50%;
padding-left: 15px;
font-weight: bold;
text-align: left;
}
}



/* CHANGE ARRANGEMENT FOR BOOKS CONTAINER */
.fitzek-books-container, .bestseller-books-container {
  margin-bottom: 20px;
}

div.gallery {
  margin: 5px;
  width: auto;
  align-items: left;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 10px;
  width: 180px;
}

/* WIDTH BOOK GALLERY*/
div.gallery img {
  max-width: 100%;
  height: auto;
}

.books-row {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}


